<img src="{{cat.image}}" alt="profile-image">
<h1>Kitty name: {{cat.name}}</h1>
<p>{{cat.name}}'s ID: {{cat._id}}</p>
<p>{{cat.name}}'s age: {{cat.age}}</p>
<p>Is {{cat.name}} single? {{cat.isSingle}}</p>